<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070414537566-mfvnlgfnri0m58gpo1ddob8mvflcbtmb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070414537566-mfvnlgfnri0m58gpo1ddob8mvflcbtmb</string>
	<key>API_KEY</key>
	<string>AIzaSyBzMDjZUz9-lXbFO6hput7ieO6jXRFHr2M</string>
	<key>GCM_SENDER_ID</key>
	<string>1070414537566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.haeseoklee.eschlenGuide</string>
	<key>PROJECT_ID</key>
	<string>eschlen-guide</string>
	<key>STORAGE_BUCKET</key>
	<string>eschlen-guide.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070414537566:ios:9626f014394cc424cde5cf</string>
	<key>DATABASE_URL</key>
	<string>https://eschlen-guide.firebaseio.com</string>
</dict>
</plist>